@model SeedHead.Models.Seed

@{
    ViewData["Title"] = "Seed - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Seed Details</h2>
<hr />
@Html.HiddenFor(model => model.SeedId)
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Amount): @Html.DisplayFor(model => model.Amount) parcels available</p>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.OfferId) : @Html.DisplayFor(model => model.OfferId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.SeedId }) | @Html.ActionLink("Back to List", "Index")</p>