@model SeedHead.Models.Seed





@{
    ViewData["Title"] = "Seed - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="title">
    <h2>
        <a href="/">
            <i class="fas fa-leaf fa-2x"></i>
        </a>
    </h2>
    <h2>@Html.DisplayFor(model => model.Name) Details</h2>
</div>
<div class="banner">
    <ul class="createBar text-center">
        <li class="name btn">
            <i class="fa fa-seedling" aria-hidden="true"></i>
            @Html.ActionLink("Seed List", "Index")
        </li>
        <li class="name btn">
            <i class="fas fa-allergies"></i>
            @Html.ActionLink("Offer List", "Index", "Offers")
        </li>
        <li class="name btn">
            <i class="fas fa-pencil-alt"></i>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SeedId })

        </li>
        <li class="name btn">
            <i class="fas fa-columns"></i>
            @Html.ActionLink("Write Review", "Create", "Reviews", new { id = Model.SeedId })

        </li>

    </ul>
</div>
<hr />
<div class="container">
    @Html.HiddenFor(model => model.SeedId)
    @Html.HiddenFor(model => model.OfferId)
    <p><span class="name">Name: </span> @Html.DisplayFor(model => model.Name)</p>
    <p><span class="name">Amount: </span> @Html.DisplayFor(model => model.Amount) parcels available</p>
    <p>@Html.DisplayFor(model => model.Description)</p>
    <p><span class="name">Offered By:</span> @Html.DisplayFor(model => model.Offer.Name)</p>

    <hr />
    <h3>@Html.DisplayFor(model => model.Name) Reviews</h3>
    @{
        if (Model.Reviews.Count() == 0)
        {
            <p>Whoopsy. Looks like there are no reviews available! Got something to say? @Html.ActionLink("Be the first to review", "Create", "Reviews", new { id = Model.SeedId }) @Html.DisplayFor(model => model.Name) </p>

        }
        else
        {
            @foreach (var review in Model.Reviews)
            {
                <div class="jumbotron">
                    <h4>name: @review.Name</h4>
                    <h4>rating: @review.Rating /5</h4>
                    <p>@review.Description</p>
                </div>
            }
        }
    }



</div>

