@model Seedhead.Models.Seed

<html>
<head>
    <title>Seed List - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit @Html.DisplayFor(model => model.Name)?</h4>
    <h4>Description: @Html.DisplayFor(model => model.Description)</h4>
    <h4>Amount Remaining: @Html.DisplayFor(model => model.Amount)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.SeedId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)



        @Html.LabelFor(model => model.Amount)
        @Html.EditorFor(model => model.Amount)

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>