@model IEnumerable<SeedHead.Models.Seed>

@{
    ViewData["Title"] = "Seed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Seed List</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var listSeed in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelSeed => listSeed.Name)
            </td>
            <td>
                @Html.DisplayFor(modelSeed => listSeed.Offer.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listSeed.SeedId }) |
                @Html.ActionLink("Details", "Details", new { id = listSeed.SeedId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listSeed.SeedId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>