@model IEnumerable<SeedHead.Models.Seed>

<html>
<head>
    <title>SeedHead</title>
</head>
<body>
    <h2>SeedHead</h2>
    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
    <ul>
        @foreach (var listSeed in Model)
        {
            <li>
                @Html.DisplayFor(modelSeed => listSeed.Name) |
                @Html.ActionLink("Details", "Details", new { id = listSeed.SeedId }) |
                @Html.ActionLink("Edit", "Edit", new {  id = listSeed.SeedId}) |
                @Html.ActionLink("Delete", "Delete", new {  id = listSeed.SeedId})
            </li>
        }
    </ul>

    <p>@Html.ActionLink("Add new seed", "Create")</p>
</body>
</html>