@model SeedHead.Models.Review

@{
    ViewData["Title"] = "Seed - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int seed = ViewBag.Seed.SeedId;
}

<html>
<head>
    <title>SeedHead - Review</title>
</head>
<body>
    <div class="title">
        <h2>
            <a href="/">
                <i class="fas fa-leaf fa-2x"></i>
            </a>
        </h2>
        <h2>Write Review</h2>
    </div>
    <div class="banner">
        <ul class="createBar text-center">
            <li class="name btn">
                <i class="fa fa-seedling" aria-hidden="true"></i>
                @Html.ActionLink("Seed List", "Index", "Seeds")
            </li>
            <li class="name btn">
                <i class="fas fa-allergies"></i>
                @Html.ActionLink("Offer List", "Index", "Offers")
            </li>
        </ul>
    </div>
    <div class="container">
        <hr />
        <h4>Add a Review</h4>

        @using (Html.BeginForm())
    {

        @Html.Hidden("SeedId", seed)
        <label>@Html.LabelFor(model => model.Name)</label>
        <br />
        @Html.TextBoxFor(model => model.Name)
        <br />
        <label>@Html.LabelFor(model => model.Rating)</label>
        <br />
        @Html.TextBoxFor(model => model.Rating, new { @type = "number", @min = "1", @max = "5" })<br />
        <br />


        <label>@Html.LabelFor(model => model.Description)</label>
        <br />
        <text-area>  @Html.TextBoxFor(model => model.Description)</text-area>

        <br />
        <br />

        <input type="submit" value="Add Review" />
}
    </div>
    </div>
</body>
</html>
