@model SeedHead.Models.Offer

@{
    ViewData["Title"] = "Seed - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>SeedHead - Create</title>
</head>
<body>
    <div class="title">
        <h2>
            <a href="/">
                <i class="fas fa-leaf fa-2x"></i>
            </a>
        </h2>
        <h2>Create an Offer Zone Profile</h2>
    </div>
    <div class="banner">
        <ul class="createBar text-center">
            <li class="name btn">
                <i class="fa fa-allergies" aria-hidden="true"></i>
                @Html.ActionLink("Offer List", "Index")
            </li>
            <li class="name btn">
                <i class="fas fa-seedling"></i>
                @Html.ActionLink("Seed List", "Index", "Seeds")
            </li>
        </ul>
    </div>
    <div class="container">
        <hr />
        <br />
    <p class="font-weight-light">An offer zone is a house, company, organization, or individual commited to providing their seeds to other users. </p>

    @using (Html.BeginForm())
    {
        <label> @Html.LabelFor(model => model.Name)</label>
        <br />
        @Html.TextBoxFor(model => model.Name)
        <br />
        @Html.HiddenFor(model => model.OfferId)

        <br />
        <br />

        <input type="submit" value="Add New Offer Zone" class="btn-lg"/>
    }
    <br />
    </div>
</body>
</html>