@model Seedhead.Models.Offer

@{
    ViewData["Title"] = "Offer - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Offer - Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <hr />
    <h4>Edit @Html.DisplayFor(model => model.Name)?</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.OfferId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)


        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>

</body>
</html>