@model IEnumerable<SeedHead.Models.Offer>

@{
    ViewData["Title"] = "Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="home"><a href="/"><i class="fas fa-leaf fa-2x"></i></a></h1>
<h1>Offer Zones</h1>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var listOffer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelOffer => listOffer.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listOffer.OfferId }) |
                @Html.ActionLink("Details", "Details", new { id = listOffer.OfferId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listOffer.OfferId })
            </td>
        </tr>
    }
</table>

<h2>
    @Html.ActionLink("Create New Offering Profile", "Create", "Offers")
</h2>

<h2>
    @Html.ActionLink("Seed List", "Index", "Seeds")
</h2>